/*
#  File: styles.css;
#  Purpose: CSS stylesheet for use with index.html
#  Course: CS50x 2021 Problem Set 8 - Homepage
#
#  Author: Pim
#
#  -------------------------------------------------------
*/

/*
used custom CSS selectors
tag:     example
class:   example
ID:      example
*/

/*
used CSS properties
margin:
opacity:    transparancy
overflow:    background coverage
z-index:    layering ?

/*
used HTML colors


*/


